body {
  background-color: #f4f4f4;
  text-align: center;
}
h2 {
  font-family: sans-serif;
  color: #444444;
  font-weight: 100;
  font-size: 32px;
  padding-bottom: 15px;
  border-bottom: 1px solid #c4c4c4;
}